body{
    background-color: whitesmoke;
    padding: 5%;
}

#container {
    background-color: green;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2%
}

h2,h4{
    color: white;
}

button {
    padding: 10px 15px;
    color: green;
    font-weight: bold;
}